#new-discount-btn {
  padding: 4px 12px 4px 8px;
}

#discount-form {
  display: flex;
  flex-direction: column;
  margin: 4px 24px 24px 24px;
}

.condition {
  display: flex;
  flex-direction: column;
}

#discount-form > *,
.condition > * {
  margin-top: 4px;
}

#discount-form label,
.condition label {
  margin-top: 16px;
}

#discount-form > :is(input, textarea, select),
.condition > :is(input, textarea, select),
#new-trig input {
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #cccccc;
}

#new-trig {
  border: #cccccc 1px solid;
  border-radius: 12px;
  padding: 8px;
}

#new-trig > .trig-edit {
  display: inline-grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  gap: 8px;
}

#new-trig .action-btns {
  display: flex;
  justify-content: flex-end;
  margin-top: 4px;
  gap: 8px;
}

#new-trig .action-btns button {
  padding: 4px 12px;
  border: 0;
}

#cond-trigs .search-bar {
  margin-top: 4px;
}

#filters {
  margin-top: 8px;
}

#filters .filter-active {
  background-color: #808080;
}

#cond-amount {
  display: none;
}
