.pos-body {
  display: grid;
  grid-template-rows: 1fr 13fr;
  grid-template-areas:
    "navbar"
    "content";
  width: 100%;
  height: 100%;
}

.pos-body .content {
  display: grid;
  grid-template-columns: 4fr 3fr;
  grid-template-areas: "items bill";
  margin: 4px;
  gap: 4px;
}

.bill {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "bill-header"
    "bill-items"
    "bill-footer";
}

.bill-header {
  grid-area: bill-header;
  background: #e0e0e0;
  display: flex;
  border-radius: 12px;
  align-items: center;
}

.icon-btn {
  margin-left: 15px;
}

.bill-items {
  grid-area: bill-items;
}

.bill-footer {
  grid-area: bill-footer;
}

.items {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "items-search"
    "items-results";
}

.items-search {
  grid-area: items-search;
}

.items-results {
  grid-area: items-results;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 12px;
}

.item-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 200px;
  height: 250px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.item-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.item-card img {
  width: 0;
  min-width: 100%;
  height: auto;
  margin: auto;
}

#branch-table {
  margin-top: 20px;
}

#items-table {
  margin-top: 8px;
}

tbody tr:nth-child(odd) {
  background-color: #fafafa;
}

.item-details {
  padding: 2px 16px;
  text-align: center;
  margin: auto 0 10px 0;
}

#add-customer {
  margin: 12px 8px 12px auto;
  padding: 4px 12px 4px 8px;
}

.No-items {
  text-align: center;
  font-size: 22px;
  padding: 51px;
  color: #707070;
  text-transform: uppercase;
}

.item-total-container {
  margin-top: 100px;
}

p.item-total {
  font-size: 28px;
  padding-left: 10px;
  padding-right: 14px;
}

span.item-total-value {
  float: right;
  font-weight: bold;
  color: #121212;
  font-size: 30px;
}

span.item-total-label {
  font-size: 25px;
  margin-top: 10px;
  display: inline-block;
}

.checkoutbtnContainer {
  margin-top: 150px;
  padding: 20px;
}

.checkoutbtn {
  font-size: 35px;
  text-align: center;
  display: block;
  text-decoration: none;
  border: 2px solid #e73434;
  border-radius: 10px;
  color: #e73434;
}

.checkoutbtn:hover {
  background: #e73434;
  color: #fff;
  transition: 0.3s;
}

#customer-form,
#item-form,
#branch-form {
  display: flex;
  flex-direction: column;
  margin: 4px 24px 24px 24px;
}

:is(#customer-form, #item-form) > * {
  margin-top: 4px;
}

:is(#customer-form, #item-form, #branch-form) > label {
  margin-top: 16px;
}

:is(#customer-form, #item-form, #branch-form) > :is(input, textarea, select) {
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #cccccc;
}
