#new-category-btn,
#new-prod-btn,
#new-batch-btn {
  padding: 4px 12px 4px 8px;
}

#filters {
  margin-top: 8px;
}

#filters .filter-active {
  background-color: #808080;
}

.collapsible {
  width: 100%;
  background-color: #dddddd;
  text-align: left;
  padding: 12px;
  margin-top: 12px;
  border: 0;
  border-radius: 8px;
  cursor: pointer;
}

.collapsible:hover {
  background-color: #cccccc;
}

.collapsible-content {
  display: none;
}

.products-tbl {
  margin: 12px;
  width: 100%;
}

.products-tbl .tbl-r:first-child {
  font-weight: bold;
  background-color: #dfdfdf;
  border-radius: 12px 12px 0 0;
}

.products-tbl .tbl-r {
  display: inline-grid;
  width: 100%;
  grid-template-columns: 2fr 1fr 1fr;
  padding: 12px;
}

.products-tbl .tbl-r[data-id] {
  background-color: #efefef;
}

.products-tbl .tbl-r[data-id]:hover {
  background-color: #e7e7e7;
  cursor: pointer;
}

.products-tbl .tbl-r:last-child {
  border-radius: 0 0 12px 12px;
}

.products-tbl .tbl-r:only-child {
  border-radius: 12px;
}

#category-form,
#prod-form,
#batch-form {
  display: flex;
  flex-direction: column;
  margin: 4px 24px 24px 24px;
}

:is(#category-form, #prod-form, #batch-form) > * {
  margin-top: 4px;
}

:is(#category-form, #prod-form, #batch-form) > label {
  margin-top: 16px;
}

:is(#category-form, #prod-form, #batch-form) > :is(input, textarea, select) {
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #cccccc;
}
