.search-container {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 8px;
}

.search-bar {
  margin: 16px 0 0 0;
  width: 100%;
  padding: 8px;
  border-radius: 24px;
  border: 1px solid #cccccc;
  background-color: #f5f6fa;
}

.search-bar input {
  width: 100%;
  border: 0;
  background-color: transparent;
}

.search-bar input:focus {
  outline: none;
}

.search-bar span {
  color: gray;
}

.autocomplete-results {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
  background-color: #efefef;
  top: 100%;
  left: 0;
  right: 0;
  border-radius: 8px;
  border: 1px solid #d0d0d0;
  z-index: 1;
  margin-top: 4px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

.autocomplete-results button {
  padding: 12px;
  border: 0;
  border-bottom: 1px solid #d0d0d0;
  text-align: left;
}

.autocomplete-results button:hover,
.autocomplete-results button.active {
  background-color: #e7e7e7;
}

.autocomplete-results button:first-child {
  border-radius: 8px 8px 0 0;
}

.autocomplete-results button:last-child {
  border-radius: 0 0 8px 8px;
}

.autocomplete-results button:only-child {
  border-radius: 8px;
}
