@font-face {
  font-family: "Material Symbols Outlined";
  font-style: normal;
  src: url(../fonts/MaterialSymbolsOutlined.woff2) format("woff2");
}

@font-face {
  font-family: "Material Symbols Rounded";
  font-style: normal;
  src: url(../fonts/MaterialSymbolsRounded.woff2) format("woff2");
}

.material-symbols-outlined {
  font-family: "Material Symbols Outlined";
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
}

.material-symbols-rounded {
  font-family: "Material Symbols Rounded";
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Ubuntu, serif;
}

html,
body {
  width: 100%;
  height: 100%;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.jus-left {
  margin-right: auto;
}

.jus-right {
  margin-left: auto;
}

.sp4 {
  margin-left: 4px;
}

.sp4:last-child {
  margin-right: 4px;
}

.sp8 {
  margin-left: 8px;
}

.sp8:last-child {
  margin-right: 8px;
}

.body {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 13fr;
  grid-template-areas:
    "navbar navbar"
    "sidebar content";
  width: 100%;
  height: 100%;
}

.navbar {
  grid-area: navbar;
  display: flex;
  border-bottom: solid 1px #e0e0e0;
}

.navbar .logo {
  width: auto;
  height: 0;
  min-height: 100%;
  padding: 4px;
  object-fit: cover;
  margin-right: auto;
}

.navbar-btns {
  display: flex;
  align-items: center;
}

.navbar .dropdown {
  display: flex;
  height: 100%;
  position: relative;
  aspect-ratio: 1 / 1;
}

.navbar .dropdown .icon-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1 / 1;
  margin: 4px;
  border-radius: 100%;
  cursor: pointer;
}

.navbar .dropdown .icon-btn:hover {
  background-color: #efefef;
}

.dd-content {
  display: none;
  flex-direction: column;
  position: absolute;
  z-index: 1;
  min-width: 20vw;
  border-radius: 12px;
  top: 100%;
  right: 0;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
  background-color: white;
}

.dd-item {
  display: flex;
  align-items: center;
  padding: 12px;
  margin: 8px 8px 0 8px;
  cursor: pointer;
  border-radius: 12px;
  font-weight: bold;
}

.dd-item:last-child {
  margin-bottom: 8px;
}

.dd-item:hover {
  background-color: #fafafa;
}

.show {
  display: flex !important;
}

.sidebar {
  grid-area: sidebar;
  border: 1px solid #e0e0e0;
  border-radius: 0 12px 12px 0;
  border-left: 0;
  margin: 4px;
  overflow: auto;
}

.sidebar-item {
  display: flex;
  align-items: center;
  padding: 12px;
  margin: 8px 8px 0 8px;
  cursor: pointer;
  border-radius: 12px;
  font-weight: bold;
  color: inherit;
  text-decoration: none;
}

.sidebar-item:hover {
  background-color: #fafafa;
}

.sidebar-item.selected {
  background-color: #e0e0e0;
  cursor: default;
}

.content {
  grid-area: content;
  overflow: auto;
  margin: 16px;
}

.content h1 {
  font-size: 1.75rem;
  font-weight: bold;
}
